<!DOCTYPE html>
{%load static%}
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"><link rel="stylesheet" href="{% static "css/style.css"%}">
</head>
<body>
<h1 align="center">Movies Information</h1>
{% if movies_list %}
<table border="1" align="center" bgcolor="cyan" bordercolor="blue">
	<thead>
	<th>Released Date</th>
	<th>Movie Name</th>
	<th>Hero</th>
	<th>Heroine</th>
	<th>Rating</th>
	</thead>   
        {% for movie in movies_list %}
         <tr>
         	<td>{{movie.rdate}}</td>
         	<td>{{movie.moviename}}</td>
         	<td>{{movie.hero}}</td>
         	<td>{{movie.heroine}}</td>
         	<td>{{movie.rating}}</td>
         </tr> 
        {% endfor %}
         </table>
 	{% else %}
 	<p>Records not found</p>
	{% endif %}
	</body> 
</html>   